<div class="price-body">

	<section class="pricing-section">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-xl-5 col-lg-6 col-md-8">
					<div class="section-title text-center title-ex1">
						<h2>75 WAY SERVICES PRICING</h2>
						<p>75way is a web & mobile app development agency, with tailored digital solutions from the best
							minds working in our USA and India offices..</p>
					</div>
				</div>
			</div>
			<!-- Pricing Table starts -->
			<div class="row">
				<div class="col-md-4">
					<div class="price-card ">
						<h2>Mobile App Development</h2>
						<p>The standard version</p>
						<p class="price"><span>$$</span>/ Month</p>
						<ul class="pricing-offers">
							<li>Custom App Design</li>
							<li>Platform Compatibility (iOS & Android)</li>
							<li>Security Implementation</li>
							<li>Backend Integration</li>
							<li>User-friendly Interface</li>
						</ul>
						<a href="http://localhost:4200/payment" class="btn btn-primary btn-mid">Buy Now</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-card featured">
						<h2>Web App Development</h2>
						<p>Most popular choice</p>
						<p class="price"><span>$$</span>/ Month</p>
						<ul class="pricing-offers">
							<li>Responsive and Cross-Browser Compatibility</li>
							<li>Backend Development (Node.js, Django, Ruby on Rails, etc.)</li>
							<li>Frontend Frameworks (React, Angular, Vue.js, etc.)</li>
							<li>Database Integration</li>
							<li>API Development and Integration</li>
						</ul>
						<a href="http://localhost:4200/payment" class="btn btn-primary btn-mid">Buy Now</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-card ">
						<h2>UX/UI Design</h2>
						<p>For the whole team</p>
						<p class="price"><span>$$</span>/ Month</p>
						<ul class="pricing-offers">
							<li>User-Centric Interface Design</li>
							<li>Wireframing and Prototyping</li>
							<li>Responsive and Intuitive Designs</li>
							<li>Branding and Style Guidelines</li>
							<li>Collaborative Design Workshops</li>
						</ul>
						<a href="http://localhost:4200/payment" class="btn btn-primary btn-mid">Buy Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>